
<head>
		<title></title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link rel="stylesheet" type="text/css" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="templates/styles/home.css">
	</head>
	<body>

	<div class="row clearfix">
		<div class="col-md-12 column pull-left">
			<div class="page-header">
				<h1>
					<img src="http://i.imgur.com/LO45UiI.png"/> 
				</h1>
			</div>

		<div class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">CPA.is</a>
          </div>
          <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li class="active"><a href="#">Forsíða</a></li>
              <li><a href="#">Um okkur</a></li>
              <li><a href="#">Þjónusta</a></li>
              <li><a href="#">Starfsfólk</a></li>
              <li><a href="#">Skattar ofl.</a></li>
              <li><a href="#">Gjaldskrá</a></li>
              <li><a href="#">Tímapantanir</a></li>
              <li><a href="#/login">LoginTest</a></li>
              <li><a href="https://www.facebook.com/endurskodun"><img src="http://i.imgur.com/ESjuBG9.png"></a></li>
                </ul>
              </li>
            </ul>
          </div>
        </div>

	<div class="row clearfix">
		<div class="col-md-5 column">
			<h2>Starfssvið:</h2>
			<p>
				Endurskoðun og ráðgjöf ehf starfar á sviði endurskoðunar og bókhalds ásamt skattaráðgjafar til fyrirtækja og einstaklinga.  Við leggjum metnað okkar í að veita faglega og umfram allt persónulega þjónustu.
			</p>
			<br>
			<div class="horizontalLine"></div>
			<h2>Um okkur:</h2>
			<p>
				Endurskoðun og ráðgjöf ehf er  endurskoðunarstofa í Garðabæ.  Styrkur okkar felst m.a. í persónulegri og beinni þjónustu við viðskiptavini okkar.
			</p>
			<div class="horizontalLine"></div>
			<br>
			<h2>Hvar erum við?</h2>
			<p>
				Á annarri hæð í "klukkuturninum" að Garðatorgi 7 í Garðabæ, sami inngangur og að skrifstofum og þjónustuveri Garðabæjar.
				<br><br><img src="http://cpa.is/hornmerki.gif">
				&nbsp; &nbsp; &nbsp; Á 1. hæð er þjónustuver Garðabæjar. 
			</p>


		</div>

			<div class="col-xs-4 column">
				<br>

				<strong>Opnunar- og símatími:</strong><br /> 
				<br>
				<table>
				<tr>
					<td><p>mán-fim </p></td>
					<td><p>09:15-12:00 / 13:00-16:00</p></td> 
				</tr>
					<td>föstudag</td>
					<td>09:15-12:00</td>
				</tr>
				</table>
				<br>
				 Vinsamlegast pantið viðtalstíma á netfang cpa@cpa.is eða í síma 544-8989<br /> <br>
				 <div class="horizontalLine"></div>
				 <br>
				   <a href="#"> Gátlisti vegna skattframtals</a></br>
				   <br>
				   <div class="horizontalLine"></div>
				   <br>
				<iframe src="http://goo.gl/TivMHS"></iframe><br>
			 
		</div>
		<div class="col-xs-2 column">
			<br>
			<a href="http://www.rsk.is/fyrirtaekjaskra/" class="btn-me" type="button">Fyrirtækjaskrá</a> <br>
			<a href="http://www.sedlabanki.is/gengi/gengisskraning/" class="btn-me" type="button">Gengi gjaldmiðla</a><br>
			<a href="http://www.ja.is/" class="btn-me" type="button">Símaskrá</a><br>
			<a href="http://hagstofa.is/Hagtolur/Verdlag-og-neysla/Helstu-visitolur" class="btn-me" type="button">Vísitölur</a><br>
			<a href="http://www.rsk.is/fyrirtaekjaskra/leit" class="btn-me" type="button">VSK nr. skrá</a><br>
			<a href="http://gamli.rsk.is/fyrirtaekjaskra/arsreikn/leit" class="btn-me" type="button">Ársreikningaskrá</a><br>
			<a href="http://www.keldan.is/" class="btn-me" type="button">Keldan</a><br>
			<a href="http://flugheimur.is/flugvelar/" class="btn-me" type="button">Loftfaraskrá</a><br>
			<a href="http://ww2.us.is/node/928" class="btn-me" type="button">Ökutækjaskrá</a><br>
			<a href="http://www.fmr.is/" class="btn-me" type="button">Fasteignamat</a><br>

			<br>
			<a  href="http://www.vb.is/" class="btn-me" type="button">Ríkisskattstjóri</a><br>
			<a href="http://www.tollur.is/" class="btn-me" type="button">Tollstjóri</a><br>
			<a href="http://www.yskn.is/" class="btn-me" type="button">Yfirskattanefnd</a><br>
			<a href="http://www.haestirettur.is/" class="btn-me" type="button">Hæstiréttur Íslands</a><br>
			<a href="http://www.domstolar.is/" class="btn-me" type="button">Héraðsdómstólar</a><br>
			<a href="http://www.reglugerd.is/" class="btn-me" type="button">Reglugerðarsafn</a><br>
			<a href="http://www.althingi.is/vefur/lagasafn.html" class="btn-me" type="button">Lagasafn Alþingis</a><br>
			 <a href="http://www.lt.is/" class="btn-me lock" type="button"> <img src="http://i.imgur.com/HitGMi0.png"/> Lánatraust</a><br>
			<a href="http://logbirtingablad.is/" class="btn-me lock" type="button"><img src="http://i.imgur.com/HitGMi0.png"/> Lögbirtingarblaðið</a><br>
		</div>

	</div>
	<div class="row clearfix">
		<br>
		<div class="col-md-12 column text-center">
			<ul id="info">
			 	<li>Endurskoðun og ráðgjöf ehf.</li>
			 	<li>Garðatorgi 7</li> 
			 	<li>Box 374</li> 
			 	<li>212 Garðabær</li>
			 	<li>Sími: 544-8989</li> 
			 	<li>Fax: 544-8988</li> 
			 	<li>cpa@cpa.is</li>
			 </ul>
		</div>
	</div>
</div>

</body>

