
<head>
		<title></title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		 <meta name="viewport" content="width=device-width" />
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
		<link rel="stylesheet" type="text/css" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css"></style>
	</head>
	<body>

<!--<header class="navbar navbar-default navbar-static-top" role="banner">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/" class="navbar-brand">CPA.is</a>
    </div>
    <nav class="collapse navbar-collapse" role="navigation">
      <ul class="nav navbar-nav">
        <li>
          <a href="#">UM OKKUR</a>
        </li>
        <li>
          <a href="#">ÞJÓNUSTA</a>
        </li>
        <li>
          <a href="#">STARFSMENN</a>
        </li>
        <li>
          <a href="#">SKATTAR OFL.</a>
        </li>
         <li>
          <a href="#">GJALDSKRÁ</a>
        </li>
         <li>
          <a href="#">TÍMAPANTANIR</a>
        </li>
      </ul>
    </nav>
  </div>
</header>

<!-- Begin Body -->
<!---<div class="container">
				<ul>
                  <li><a href="http://www.rsk.is/fyrirtaekjaskra/">Fyrirtækjaskrá</a></li>
                  <li><a href="http://www.ja.is/">Símaskrá</a></li>
                  <li><a href="http://www.sedlabanki.is/gengi/gengisskraning/">Gengi Gjaldmiðla</a></li>
                  <li><a href="http://hagstofa.is/Hagtolur/Verdlag-og-neysla/Helstu-visitolur">Vísitölur</a></li>

                  	<button ng-click="getLinks()">Connect!</button>
              	</ul>-->
	<div class="row clearfix">
		<div class="col-md-12 column pull-left">
			<div class="page-header">
				<h1>
					<!--Endurskoðun & Ráðgjöf <small>CPA.is</small>-->
					<img width="700" src="http://i.imgur.com/b0KBUr7.jpg"/> 
				</h1>
<!-- </div>
			<ul class="nav nav-tabs">
	        <li>
	          <a href="#">UM OKKUR</a>
	        </li>
	        <li>
	          <a href="#">ÞJÓNUSTA</a>
	        </li>
	        <li>
	          <a href="#">STARFSMENN</a>
	        </li>
	        <li>
	          <a href="#">SKATTAR OFL.</a>
	        </li>
	         <li>
	          <a href="#">GJALDSKRÁ</a>
	        </li>
	         <li>
	          <a href="#">TÍMAPANTANIR</a>
	        </li>
			</ul>
			<button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
		</div>
	</div>-->
		<div class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">CPA.is</a>
          </div>
          <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li class="active"><a href="#">Forsíða</a></li>
              <li><a href="#">Um okkur</a></li>
              <li><a href="#">Þjónusta</a></li>
              <li><a href="#">Starfsfólk</a></li>
              <li><a href="#">Skattar ofl.</a></li>
              <li><a href="#">Gjaldskrá</a></li>
              <li><a href="#">Tímapantanir</a></li>
              <!--<li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="#">Action</a></li>
                  <li><a href="#">Another action</a></li>
                  <li><a href="#">Something else here</a></li>
                  <li class="divider"></li>
                  <li class="dropdown-header">Nav header</li>
                  <li><a href="#">Separated link</a></li>
                  <li><a href="#">One more separated link</a></li>-->
                </ul>
              </li>
            </ul>
            <!--<ul class="nav navbar-nav navbar-right">
              <li class="active"><a href="./">Default</a></li>
              <li><a href="../navbar-static-top/">Static top</a></li>
              <li><a href="../navbar-fixed-top/">Fixed top</a></li>
            </ul>-->
          </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->


	<div class="row clearfix">
		<div class="col-md-12 column">
			<br>
		</div>
	</div>
	<div class="row clearfix">
		<div class="col-md-6 column">
			<h2>
				Starfssvið:
			</h2>
			<p>
				Endurskoðun og ráðgjöf ehf starfar á sviði endurskoðunar og bókhalds ásamt skattaráðgjafar til fyrirtækja og einstaklinga.  Við leggjum metnað okkar í að veita faglega og umfram allt persónulega þjónustu.
			</p>

			<h2>
				Um okkur:
			</h2>
			<p>
				Endurskoðun og ráðgjöf ehf er  endurskoðunarstofa í Garðabæ.  Styrkur okkar felst m.a. í persónulegri og beinni þjónustu við viðskiptavini okkar.
			</p>
			<h2>
				Hvar erum við?
			</h2>
			<p>
				Á annarri hæð í "klukkuturninum" að Garðatorgi 7 í Garðabæ, sami inngangur og að skrifstofum og þjónustuveri Garðabæjar.
				<br><br><img src=http://cpa.is/hornmerki.gif>
				Á 1. hæð er þjónustuver Garðabæjar. 
			</p>

		</div>

			<div class="col-md-4 column">
				<br>

				<strong>Opnunar- og símatími:</strong><br /> 
				<br>
				<table width="300">
				<tr>
					<td><p>mán-fim </p></td>
					<td><p>09:15-12:00 / 13:00-16:00</p></td> 
				</tr>
					<td>fös</td>
					<td>09:15-12:00</td>
				</tr>
				</table>
				<br>
				 Vinsamlegast pantið viðtalstíma á netfang cpa@cpa.is eða í síma 544-8989<br /> <br>
				<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1743.4607426959813!2d-21.920890236508168!3d64.08880929501795!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x48d60cbf0a662a09%3A0xb7788227af9429f3!2sGar%C3%B0atorg!5e0!3m2!1sen!2sis!4v1395348766789" width="300" height="250" frameborder="0" style="border:0"></iframe><br>
			 
		</div>
		<div class="col-md-2 column">
			<br>
			<a href="http://www.rsk.is/fyrirtaekjaskra/" class="btn-me" type="button">Fyrirtækjaskrá</a> <br>
			<a href="http://www.sedlabanki.is/gengi/gengisskraning/" class="btn-me" type="button">Gengi gjaldmiðla</a><br>
			<a href="http://www.ja.is/" class="btn-me" type="button">Símaskrá</a><br>
			<a href="http://hagstofa.is/Hagtolur/Verdlag-og-neysla/Helstu-visitolur" class="btn-me" type="button">Vísitölur</a><br>
			<a href="http://www.rsk.is/fyrirtaekjaskra/leit" class="btn-me" type="button">VSK nr. skrá</a><br>
			<a href="http://gamli.rsk.is/fyrirtaekjaskra/arsreikn/leit" class="btn-me" type="button">Ársreikningaskrá</a><br>
			<a href="http://www.keldan.is/" class="btn-me" type="button">Keldan</a><br>
			<a href="http://flugheimur.is/flugvelar/" class="btn-me" type="button">Loftfaraskrá</a><br>
			<a href="http://ww2.us.is/node/928" class="btn-me" type="button">Ökutækjaskrá</a><br>
			<a href="http://www.fmr.is/" class="btn-me" type="button">Fasteignamat</a><br>

				<br>
			<a href="http://www.vb.is/" class="btn-me" type="button">Ríkisskattstjóri</a><br>
			<a href="http://www.tollur.is/" class="btn-me" type="button">Tollstjóri</a><br>
			<a href="http://www.yskn.is/" class="btn-me" type="button">Yfirskattanefnd</a><br>
			<a href="http://www.haestirettur.is/" class="btn-me" type="button">Hæstiréttur Íslands</a><br>
			<a href="http://www.domstolar.is/" class="btn-me" type="button">Héraðsdómstólar</a><br>
			<a href="http://www.reglugerd.is/" class="btn-me" type="button">Reglugerðarsafn</a><br>
			<a href="http://www.althingi.is/vefur/lagasafn.html" class="btn-me" type="button">Lagasafn Alþingis</a><br>
			<img width="15" height="15" src="http://png-2.findicons.com/files/icons/949/token/256/lock.png"/> <a href="http://www.lt.is/" class="btn-me" type="button">Lánatraust</a><br>
			<img width="15" height="15" src="http://png-2.findicons.com/files/icons/949/token/256/lock.png"/>
			<a href="http://logbirtingablad.is/" class="btn-me" type="button">Lögbirtingarblaðið</a><br>
		</div>

	</div>
	<div class="row clearfix">
		<br>
		<div class="col-md-12 column text-center">
			 <p> Endurskoðun og ráðgjöf ehf. - Garðatorgi 7 - Box 374 - 212  Garðabær - sími 544-8989 fax 544-8988 - cpa@cpa.is  </p>
		</div>
	</div>
</div>

</body>

